<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Inicio de Sesión</title>
  <!-- CSS only -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-8 mt-5">
      <h1 class="text-center">Inicio de Sesión</h1>
      <div class="card-body">
        <form th:action="@{/login}" method="post">
          <div class="form-group">
            <label>Usuario:</label>
            <input type="text" name="username" class="form-control" placeholder="Ingrese su usuario" required>
          </div>

          <div class="form-group">
            <label>Contraseña:</label>
            <input type="password" name="password" class="form-control" placeholder="Ingrese su contraseña" required>
          </div>

          <div class="box-footer">
            <button class="btn btn-primary btn-block">Ingresar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

</body>
</html>
